<head>
<style>
table {
  width: 75%;
  margin: 1em auto;
  border-collapse: collapse;
}
td, th{
  padding:0.5em;
  vertical-align:top;
  border:solid;
  text-align: center;
}
a {
  text-decoration: solid;
  font-family: fantasy;
  color: blue;
}

img {
  width:100%;
}
</style>
</head>

<body>
<table>
<tr>
	<th>
		Date
	</th>
	<th>
		Time
	</th>
	<th>
		Venue
	</th>
</tr>

{%for detail in details%}
<tr>
	<td>
		{{detail[0]}}
	</td>
	<td>
		{{detail[1]}}
	</td>
	<td>
		{{detail[2]}}
	</td>
</tr>
{%endfor%}

</table>

</body>