<!DOCTYPE html>
<head>
<style>
table {
  width: 75%;
  margin: 1em auto;
  border-collapse: collapse;
}
td, th{
  padding:0.5em;
  vertical-align:top;
  border:solid;
  text-align: center;
}
a {
  text-decoration: solid;
  font-family: fantasy;
  color: blue;
}

img {
  width:100%;
}


</style>
</head>

<body>
<table>
<tr>
	<th> Event Name </th>
	<th> Artists </th>
	<th> Type of Event </th>
	<th> </th>
</tr>
{% for data in jin_data %}
<tr>
	<td> {{data[0]}} </td>
	<td> {{data[1]}} </td>
	<td> {{data[2]}} </td>
	<td> <a href='/view/{{data[0]}}'> See dates </a></td>
</tr>
{% endfor %}
</table>
</body>