<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            margin:50px auto;
            width:10%;
            border: 1px black solid;
            padding: 1em
        }
    </style>
</head>

<body>
    <form action="/submit" method="post">
        <table>
            <tr>
                <th colspan="2">
                <h3>Enter your A level grades:</h3>     
                </th>
            </tr>
            <tr>
                <td>
                    <label>GP:</label>
                </td>
                <td>
                    <input type="text" name="gp">
                </td>
            </tr>
            <tr>
                <td>
                    <label>PW:</label>
                </td>
                <td>
                    <input type="text" name="pw">
                </td>
            </tr>
            <tr>
                <td>
                    <label>H1:</label>
                </td>
                <td>
                    <input type="text" name="h1">
                </td>
            </tr>
            <tr>
                <td>
                    <label>H2:</label>
                </td>
                <td>
                    <input type="text" name="h2_1">
                </td>
            </tr>
            <tr>
                <td>
                    <label>H2:</label>
                </td>
                <td>
                    <input type="text" name="h2_2">
                </td>
            </tr>
            <tr>
                <td>
                    <label>H2:</label>
                </td>
                <td>
                    <input type="text" name="h2_3">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>