<!DOCTYPE html>
<html>
<head>
<title>UAS</title>
</head>
<body>
<form action="/submit" method="POST">
<div>grade for GP</div>
<input name="gp" type=text></input>
<div>grade for PW</div>
<input name="pw" type=text></input>
<div>grade for 1st h2</div>
<input name="one" type=text></input>
<div>grade for 2nd h2</div>
<input name="two" type=text></input>
<div>grade for 3rd h2</div>
<input name="three" type=text></input>
<div>grade for 4th h2/h1</div>
<input name="four" type=text></input>
<input type="submit">submit</button>
</form>
</body>
</html>