<html>
    <head>
        <title>calculator</title>
    </head>
    <body>
        <form action="http://127.0.0.1:5000/" method="post" enctype="multipart/form-data">
            <label>gp</label><input type="text" name="gp">
            <label>pw</label><input type="text" name="pw">
            <label>1st h2 subject</label><input type="text" name="h21">
            <label>2nd h2 subject</label><input type="text" name="h22">
            <label>3rd h2 subject</label><input type="text" name="h23">
            <label>last h2 subject or other h1</label><input type="text" name="hextra">
            <button action="submit">submit</button>
            <h1>{{ data }}</h1>
        </form>
    </body>
</html>