<html>
	<head>
		<title>UAS Calculator</title>
	</head>
	<body>
		<form action="/score" method="post">
			<label>H1 GP Grade</label> <input type="text" name="gp"> <br><br>
			<label>H1 PW Grade</label> <input type="text" name="pw"> <br><br>
			<label>H2 Grade 1</label> <input type="text" name="h2_1"> <br><br>
			<label>H2 Grade 2</label> <input type="text" name="h2_2"> <br><br>
			<label>H2 Grade 3</label> <input type="text" name="h2_3"> <br><br>
			<label>H1/Lowest H2 Grade</label> <input type="text" name="h1"> <br><br>
			<input type="submit">
		</form>
	</body>
</html>