<!DOCTYPE html>
<html>
  <head>
    <title>Vote Count</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
	<h1>Total Count of Votes by Candidates</h1> <!-- 1 mark (TASK 4.4) - title with underline (give the mark if either Votecount or Votebreakdown html file has this)-->
    <table border='1' style='border-collapse:collapse'> <!-- 1 mark (TASK 4.4) - table with border (give the mark if either Votecount or Votebreakdown html file has this)-->
		<tr>
			<th>Name</th> <!-- 1 mark (TASK 4.4) - table headers (give the mark if either Votecount or Votebreakdown html file has this)-->
			<th>Class</th>
			<th>Number of votes</th>
		</tr>
		{% for record in html_records  %} <!-- 1 mark (TASK 4.4) - loop records using Jinja (give the mark if either Votecount or Votebreakdown html file has this)-->
			<tr>
				<td>{{ record[0] }}</td>
				<td>{{ record[1] }}</td>
				<td>{{ record[2] }}</td>
			</tr>
      {% endfor %}
    </table>
  
 
  </body>
</html>