<html>
<head>
</head>
<body>
<form action="http://localhost:5000/" method="post">
<div>Enter your grades in uppercase letters</div><br>
<label for="GP">GP Grade</label>
<input type="text" name="GP"><br>
<label for="PW">PW Grade</label>
<input type="text" name="PW"><br>
<label for="First">First H2 Grade</label>
<input type="text" name="First"><br>
<label for="Second">Second H2 Grade</label>
<input type="text" name="Second"><br>
<label for="Third">Third H2 Grade</label>
<input type="text" name="Third"><br>
<label for="Fourth">H1 Grade/Lowest H2 Grade</label>
<input type="text" name="Fourth"><br>
<button type="submit">Submit</button>
</form>
</body>
</html>