<!-- No Layout -->
<html>
<head>
<!-- meta data-->
<title> product catalog </title>
<style>
    form {
        width: 30%;
        margin:  2em auto;
        border: black 1px solid;
        font-family: fantasy;
    }
    .row {
        display: flex;
        padding: 0.5em;
        justify-content: space-evenly;
    }
    label {
        margin:0.5em;
        width:30%
    }
    input {
        margin:0.5em;
        width: 40%
    }

</style>
</head>

<body>
<form action="/submit" method="POST" enctype="multipart/form-data">
    <div class="row">
        <label>Product Name </label> <input name="product" type="text"/>       
    </div>
    <div class="row">
        <label> Description </label> <input name="description" type="text"/>
    </div>
    <div class="row">
        <label> Price </label> <input name="price" type="text" />
    </div>
    <div class="row">
        <label> Image </label> <input name="image" type="file" />
    </div>
    <div class="row">
        <button type="submit" /> Save </button>
        <button type="reset" /> Cancel </button>
    </div>
    
</form>
       
</body>



</html>