<html>
    <body>
        <form action="/" method=POST>
            <label>PW</label>
            <input type=text name="PW" />
            <label>GP</label>
            <input type=text name="GP" />
            <label>First H2</label>
            <input type=text name="First H2" />
            <label>Second H2</label>
            <input type=text name="Second H2" />
            <label>Third H2</label>
            <input type=text name="Third H2" />
            <label>H1</label>
            <input type=text name="H1" />
            <input type=submit />
        </form>
    </body>
</html>